header {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(205, 48, 57, 0.3);
}

.header-title {
    font-weight: 700;
    font-size: 1rem;
    color: var(--lightColor);
}

.menu-btn {
    position: relative;
    right: -16px;
    display: none;
    list-style: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 4px 16px;
    color: var(--lightColor);
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 1rem;
    padding: 0.25rem 0;
    font-size: .75rem;
    color: var(--lightColor);
    text-decoration: none;
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}

.menu-shadow {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.menu-list {
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-list a {
    color: var(--color2);
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
}

/*lt-lg*/
@media screen and (max-width: 1279px) {
    header {
        height: var(--headerHeightMd);
    }
}

/*lt-md*/
@media screen and (max-width: 959px) {
    .menu-btn {
        display: inline-block;
    }

    .nav-list {
        display: none;
    }
}

/*lt-sm*/
@media screen and (max-width: 599px) {
    header {
        height: var(--headerHeightSm);
    }
}