:root {
    /*color palette*/
    --primaryColor: #CD3039;
    --secondaryColor: #ED554D;
    --lightColor: #FCFCFC;

    --color1: #E3D1D1;
    --color2: #725F68;
    --color3: #E7A59B;
    --color4: #8DABCF;

    --font-family: 'Prompt', sans-serif;

    /*variables*/
    --headerHeight: 64px;
    --headerHeightMd: 48px;
    --headerHeightSm: 40px;

    --sectionPadding: 106px;
    --sectionPaddingMd: 80px;
    --sectionPaddingSm: 48px;

    --bgGradient: linear-gradient(112.1deg, #CD3039 11.4%, #ED554D 70.2%);
}